

<%= render @meeting %>

<div>
  <%= link_to "Edit this meeting", edit_meeting_path(@meeting) %> |
  <% if current_user.admin? %>
    <%= link_to "Back to Dashboard", admin_root_path %> 
  <% else %>
    <%= link_to "Back to Dashboard", user_root_path %> 
  <% end %>
  <% if @meeting.form %>
    | <%= link_to "Show Client", client_profile_form_path(@meeting.form) %>
  <% end %>

  <%= button_to "Destroy this meeting", @meeting, method: :delete %>
</div>
