<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Client Profile</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=APIKEY" async defer></script>
  <style>
    video {
      width: 100%;
    }

    p {
      font-size: 1.5em;
    }

    .text-orange {
      color: #fd7e14;
    }

    .text-danger {
      color: red;
    }

    .disabled {
      pointer-events: none;
      opacity: 0.6;
    }

    .orange-tab {
      color: #fd7e14 !important;
    }
  </style>
</head>
<body>
  <div class="container my-5">
    <span onclick="window.location.href='<%= admin_root_path %>'" style="cursor: pointer; color: inherit; text-decoration: none;">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>
      <span style="font-size: 1.3em" class="mx-2">Back to Dashboard</span>
    </span>
    <div class="row d-flex align-items-center" style="margin-top: 1em;">
      <div class="col">
        <h1><%= @form.first_name %> <%= @form.last_name %></h1>
      </div>
      <div class="col-auto">
        <%= link_to 'Edit', edit_1_form_path(@form), class: 'btn btn-primary', style: "width: 10em" %>
      </div>
    </div>
    <ul class="nav nav-tabs" id="clientTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="client-tab" data-bs-toggle="tab" data-bs-target="#client" type="button" role="tab" aria-controls="client" aria-selected="true">Client Info</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= assessment_tab_class(@form) %>" id="assessment-tab" data-bs-toggle="tab" data-bs-target="#assessment" type="button" role="tab" aria-controls="assessment" aria-selected="false">Patient Assessment</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= meeting_tab_class(@form) %> <%= meeting_tab_disabled?(@form) %>" id="meeting-tab" data-bs-toggle="tab" data-bs-target="#meeting" type="button" role="tab" aria-controls="meeting" aria-selected="false">Meeting Details</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="nok-tab" data-bs-toggle="tab" data-bs-target="#nok" type="button" role="tab" aria-controls="nok" aria-selected="false">NOK Details</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= agreement_tab_class(@form) %> <%= agreement_tab_disabled?(@form) %>" id="agreement-tab" data-bs-toggle="tab" data-bs-target="#agreement" type="button" role="tab" aria-controls="agreement" aria-selected="false">Service Agreement</button>
      </li>
    </ul>

    <div class="tab-content" id="clientTabsContent">
      <div class="tab-pane fade show active" id="client" role="tabpanel" aria-labelledby="client-tab">
        <div id="clientDetails">
          <p style="font-size:2em">
            <strong>Action Required: </strong>
            <span 
              id="actionRequiredText" 
              style=" <%= status_colour(@form) %>; cursor: pointer;"
              onclick="handleActionRequiredClick('<%= application_status(@form) %>')"
            >
              <%= application_status(@form) %> <!-- application_status is called in helper-->
            </span>
          </p>
          <p><strong>last_edit</strong> <%= @form.last_edit %></p>
          <p><strong>last viewed</strong> <%= @form.last_viewed %></p>

          <p><strong>Form No.:</strong> <%= @form.id %></p>
          <p><strong>Gender:</strong> <%= @form.gender %></p>
          <p><strong>Birthday:</strong> <%= @form.date_of_birth %></p>
          <hr/>
          <p style="font-size:2em"><strong>Type of Care:</strong> <%= @form.services %></p>
          <p><strong>Start Date Required:</strong> <%= @form.start_date %></p>
          <p><strong>Physical Assessment:</strong> <%= @form.physical_assessment.presence || "Pending Assessment" %></p>
          <p><strong>Mental Assessment:</strong> <%= @form.mental_assessment.presence || "Pending Assessment" %></p>
          
          <hr/>
          <p style="font-size:2em"><strong>Address:</strong> <%= @form.address %></p>
          <p><strong>Postal Code:</strong> <%=@form.postal%></p>
          <div id="map" style="height: 400px; width: 100%;"></div>
          
          
          <% if @form.discharge_summary.attached? %>
            <hr/>
            <p class="card-text"><strong>Discharge Summary Preview:</strong></p>
            <%= image_tag @form.discharge_summary, class: "img-thumbnail", style: "max-width: 300px;" %>
          <% end %>

        </div>
      </div>
      
      <div class="tab-pane fade" id="meeting" role="tabpanel" aria-labelledby="meeting-tab">
        <div id="meetingDetails">
          <div id="meetings_calendar">
            <%= render partial: 'meetings/calendar', locals:{meeting: @meetings, self_meetings:@attached_meetings}  %>
          </div>
          <%= render partial: 'meetings/new', form: @form, meeting: @meeting %>
        </div>
      </div>

      <div class="tab-pane fade" id="agreement" role="tabpanel" aria-labelledby="agreement-tab">
        <%= form_with(model: @form, url: client_profile_form_path(@form), method: :patch, local: true, html: { multipart: true }) do |form| %>
          <div id="agreementDetails">
            <% if @form.service_agreement_form.attached? %>
              <div class="mt-1 mb-4">
                <p>Service Agreement Preview:</p>
                <% if @form.service_agreement_form.content_type == 'application/pdf' %>
                  <iframe src="<%= rails_blob_path(@form.service_agreement_form, disposition: 'inline') %>" width="80%" height="600px"></iframe>
                <% else %>
                  <%= image_tag @form.service_agreement_form, class: "img-thumbnail", style: "max-width: 300px;" %>
                <% end %>
                <br>
                <%= link_to "Download Service Agreement", rails_blob_path(@form.service_agreement_form, disposition: "attachment") %>
              </div>
            <% end %>
            <%= form.file_field :service_agreement_form, accept: '.png,.jpg,.jpeg,.pdf', class: 'form-control mb-3' %>
            <%= form.submit 'Upload Service Agreement', name: 'commit', value: 'Save', class: 'btn btn-primary me-2' %>    
          </div>
        <% end %>
      </div>

      <div class="tab-pane fade" id="nok" role="tabpanel" aria-labelledby="nok-tab">
        <div id="nokDetails">
          <p style="font-size:2em"><strong>NOK Name:</strong> <%= @form.nok_first_name %> <%= @form.nok_last_name %></p>
          <p><strong>Relationship:</strong> <%= @form.relationship %></p>
          <p><strong>Address: </strong> <%= @form.nok_address %></p>
          <p><strong>Contact:</strong> <%= @form.nok_contact_no %></p>
          <p><strong>Email:</strong> <%= @form.nok_email %></p>
        </div>
      </div>

      <div class="tab-pane fade" id="assessment" role="tabpanel" aria-labelledby="assessment-tab">
        <div id="assessmentDetails">
          <%= render 'physical_assessment', form: @form %>
          <hr/>
          <%= render 'mental_assessment', form: @form %>
          <hr/>
          <%= render 'environment_assessment', form: @form %>
          <hr/>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var urlParams = new URLSearchParams(window.location.search);
      var status = urlParams.get('status');
      var querydate = urlParams.get('start_date');

      console.log('querydate:', querydate !== null); 

      initMap('<%= @form.postal %>');

      if (querydate !== null) {
        var meetingTab = new bootstrap.Tab(document.getElementById('meeting-tab'));
        meetingTab.show();
      } else if (status === 'Pending Assessment') {
        var assessmentTab = new bootstrap.Tab(document.getElementById('assessment-tab'));
        assessmentTab.show();
      } else if (status === 'Meeting Date Pending') {
        var meetingTab = new bootstrap.Tab(document.getElementById('meeting-tab'));
        meetingTab.show();
      } else if (status === 'Upload Service Agreement' || status.startsWith('Meeting on')) {
        var agreementTab = new bootstrap.Tab(document.getElementById('agreement-tab'));
        agreementTab.show();
      }
    });

    function initMap(address) {
      const geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'address': address }, function(results, status) {
        if (status === 'OK') {
          const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: results[0].geometry.location
          });
          const marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        } else {
          console.error('Geocode was not successful for the following reason: ' + status);
        }
      });
    }

    function handleActionRequiredClick(status) {
      if (status === 'Pending Assessment') {
        var assessmentTab = new bootstrap.Tab(document.getElementById('assessment-tab'));
        assessmentTab.show();
      } else if (status === 'Meeting Date Pending') {
        var meetingTab = new bootstrap.Tab(document.getElementById('meeting-tab'));
        meetingTab.show();
      } else {
        var agreementTab = new bootstrap.Tab(document.getElementById('agreement-tab'));
        agreementTab.show();
      }
    }
  </script>
</body>
</html>
