<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forms</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>" async defer></script>
  <style>
    th {
      cursor: pointer;
    }
    tr.clickable-row {
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    tr.clickable-row:hover {
      background-color: #f0f0f0;
      color: pink;
    }
    tr.clickable-row:hover a {
      color: pink;
    }
  </style>
</head>
<body>
  <div class="container">

    <h1 class="card-text" style="padding-bottom: 30px"><%= "#{'Welcome'} #{@user.user_first_name} #{'!'}" %></h1>
    <form class="d-flex" method="GET" action="/search" id="search-form">
      <input class="form-control me-2" type="search" name="query" placeholder="Enter Client's/NOK's Name" id="search-input" value="<%= @query %>">
      <button class="btn btn-primary me-2" type="submit">Search</button>
      <button class="btn btn-secondary" type="button" id="clear-button">Clear</button>
    </form>

    <% if @no_results %>
      <div class="alert alert-warning mt-3" role="alert">
        Patient/NOK name does not exist.
      </div>
    <% end %>

    <br></br>

    <h2>Submitted Forms</h2>

    <!-- Table of Submitted forms -->
    <table class="table">
      <thead>
        <tr>
          <th onclick="sortTable('name')">Patient Name <span id="sort-icon-name"></span></th>
          <th onclick="sortTable('gender')">Gender <span id="sort-icon-gender"></span></th>
          <th>Assessments</th>
          <th onclick="sortTable('application_status')">Action Required <span id="sort-icon-application_status"></span></th>
          <th onclick="sortTable('address')">Address <span id="sort-icon-address"></span></th>
          <th onclick="sortTable('address')">Postal <span id="sort-icon-address"></span></th>
          <th onclick="sortTable('start_date')">Start <span id="sort-icon-start_date"></span></th>
          <th onclick="sortTable('end_date')">End <span id="sort-icon-end_date"></span></th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @all_submitted_forms&.each do |form| %>
          <tr class="clickable-row" data-href="<%= client_profile_form_path(form) %>" onmouseover="hoverRow(this, true)" onmouseout="hoverRow(this, false)">
            <td>
              <a href="<%= client_profile_form_path(form) %>" style="text-decoration: none; color: black">
                <%= "#{form.first_name} #{form.last_name}" %>
              </a>
              <% if !form.last_edit.nil? %>
                <% if form.unseen_changes %>
                  <% if form.last_viewed.nil? %>
                    <br>
                    <span style="font-size: 12px; color: #155724;"><%= "New Submission!" %></span>
                  <% else %>
                    <br>
                    <span style="font-size: 12px; color: #3498db;"><%= "New Changes Made!" %></span>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td><%= form.gender %></td>
            <td style="padding-left: 30px; vertical-align: middle; height: 100%;">
              <a href="<%= client_profile_form_path(form, status: 'Pending Assessment') %>" style="text-decoration: none">
                <%= phys_circle(form.physical_assessment) %>
                <%= ment_circle(form.mental_assessment) %>
              </a>
            </td>
            <td>
              <a href="<%= client_profile_form_path(form, status: application_status(form)) %>" style="text-decoration: none">
                <p style="<%= status_colour(form) %>">
                  <%= application_status(form) %>
                </p>
              </a>
            </td>
            <td><%= form.address %></td>
            <td><%= form.postal %></td>
            <td><%= form.start_date %></td>
            <td><%= form.end_date %></td>

            <td class="text-center">
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-danger delete-button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-form-url="<%= form_path(form) %>">Delete</button>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br></br>

    <h2>Ongoing Forms</h2>

    <!-- Table of Ongoing forms -->
    <table class="table">
      <thead>
        <tr>
          <th onclick="sortTable('name')">Patient Name <span id="sort-icon-patient_name"></span></th>
          <th onclick="sortTable('nok_name')">NOK Name <span id="sort-icon-nok_name"></span></th>
          <th onclick="sortTable('gender')">Gender <span id="sort-icon-gender"></span></th>
          <th onclick="sortTable('address')">Address <span id="sort-icon-address"></span></th>
          <th onclick="sortTable('address')">Postal <span id="sort-icon-address"></span></th>
          <th onclick="sortTable('start_date')">Start Date <span id="sort-icon-start_date"></span></th>
          <th onclick="sortTable('end_date')">End Date <span id="sort-icon-end_date"></span></th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @incompleteforms&.each do |form| %>
          <tr onmouseover="hoverRow(this, true)" onmouseout="hoverRow(this, false)">
            <td><%= "#{form.first_name} #{form.last_name}" %></td>
            <td><%= "#{form.nok_first_name} #{form.nok_last_name}" %></td>
            <td><%= form.gender %></td>
            <td><%= form.address %></td>
            <td><%= form.postal %></td>
            <td><%= form.start_date %></td>
            <td><%= form.end_date %></td>

            <td class="text-center"><%= link_to 'View Summary', form_path(form), class: 'btn btn-info' %></td>
            <td class="text-center">
              <div class="d-flex justify-content-center align-items-center">
                <%= link_to 'Edit', edit_1_form_path(form), class: 'btn btn-primary me-2' %>
                <%= form_with(model: form, method: :delete, url: form_path(form), data: { confirm: 'Are you sure?' }) do |f| %>
                  <%= f.submit 'Delete', class: 'btn btn-danger' %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!-- Link to new form creation page -->
    <%= link_to 'Create New Form', new_form_path, class: 'btn btn-primary' %>
  </div>

  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this form?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form id="delete-form" method="post" action="">
            <input type="hidden" name="_method" value="delete">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
    function hoverRow(row, hover) {
      const cells = row.querySelectorAll('td');
      cells.forEach(function(cell) {
        if (hover) {
          cell.style.backgroundColor = '#f0f0f0';
          cell.style.color = '#253255';
        } else {
          cell.style.backgroundColor = '';
          cell.style.color = '';
        }
      });
    }

    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("clear-button").addEventListener("click", function() {
        document.getElementById("search-input").value = '';
        document.getElementById("search-form").submit();
      });

      var deleteModal = document.getElementById('deleteModal');
      deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var formUrl = button.getAttribute('data-form-url');
        var deleteForm = document.getElementById('delete-form');
        deleteForm.setAttribute('action', formUrl);
      });

      document.querySelectorAll('tr.clickable-row').forEach(function(row) {
        row.addEventListener('click', function(event) {
          // Prevent row click if delete button is clicked
          if (!event.target.classList.contains('delete-button')) {
            window.location = row.dataset.href;
          }
        });
      });

      updateSortIcons();
    });

    function sortTable(sortField) {
      const url = new URL(window.location.href);
      const currentDirection = url.searchParams.get('direction');
      const newDirection = currentDirection === 'asc' ? 'desc' : 'asc';
      url.searchParams.set('sort', sortField);
      url.searchParams.set('direction', newDirection);
      window.location.href = url.toString();
    }

    function updateSortIcons() {
      const urlParams = new URLSearchParams(window.location.search);
      const sortField = urlParams.get('sort');
      const direction = urlParams.get('direction');

      if (sortField) {
        const icon = direction === 'asc' ? '▲' : '▼';
        document.getElementById(`sort-icon-${sortField}`).textContent = icon;
      }
    }
  </script>
</body>
</html>
