<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Edit Form - Step 2</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <style>
    .container {
      max-width: 800px;
    }
    .circular-button {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    .btn-blue {
      background-color: #253255;
      color: white;
    }
    .btn-outline-blue {
      border-color: #253255;
      color: #253255;
    }
    .btn-green {
      background-color: green;
      color: white;
    }
    .steps .page {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .step-label {
      margin-top: 0.5rem;
      font-size: 18px;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="steps">
      <div class="page">
        <div class="step">
          <%= button_to "1", @form.persisted? ? edit_1_form_path(@form) : edit_1_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[0] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Patient Details</p>
        </div>
        <div class="step">
          <button type="button" class="btn btn-primary circular-button btn-blue">2</button>
          <p class="step-label">Medical Conditions</p>
        </div>
        <div class="step">
          <%= button_to '3', @form.persisted? ? edit_3_form_path(@form) : edit_3_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[2] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Service Required</p>
        </div>
        <div class="step">
          <%= button_to '4', @form.persisted? ? edit_4_form_path(@form) : edit_4_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[3] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Patient Assessment</p>
        </div>
        <div class="step">
          <%= button_to '5', @form.persisted? ? edit_5_form_path(@form) : edit_5_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[4] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Home Assessment</p>
        </div>
        <div class="step">
          <%= button_to '6', @form.persisted? ? @form : show_error_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[5] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Summary Page</p>
        </div>
      </div>
    </div>

    <h1 class="text-center mb-4">Page 2 - Medical Conditions</h1>
    
    <%= form_with(model: @form, url: @form.persisted? ? edit_2_form_path(@form) : edit_2_forms_path, method: @form.persisted? ? :patch : :post, local: true, multipart: true, class: "mb-4") do |form| %>
      <div class="row mb-3">
        <div class="col-6">
          <%= form.label :height do %>
            Patient's Height/cm <span style="color: red;">*</span> 
          <% end %>
          <%= form.number_field :height, class: "form-control",placeholder: '/cm' %>
        </div>
        <div class="col-6">
          <%= form.label :weight do %>
            Patient's Weight/Kg <span style="color: red;">*</span> 
          <% end %>
          <%= form.number_field :weight, class: "form-control",placeholder: '/kg' %>
        </div>
      </div>

      

      <div class="mb-3">
        <fieldset>
          <p>Patient's Medical Conditions<span style="color: red;"> *</span></p>
          <div class="form-check form-check-inline">
            <%= check_box_tag 'form[conditions][]', 'Dementia', checked_conditions('Dementia'), id: 'conditions_dementia', class: 'form-check-input'%>
            <%= label_tag 'conditions_dementia', 'Dementia', class: 'form-check-label' %>
          </div>
          <div class="form-check form-check-inline">
            <%= check_box_tag 'form[conditions][]', 'Stroke', checked_conditions('Stroke'), id: 'conditions_stroke', class: 'form-check-input' %>
            <%= label_tag 'conditions_stroke', 'Stroke', class: 'form-check-label' %>
          </div>
          <div class="form-check form-check-inline">
            <%= check_box_tag 'form[conditions][]', 'Cancer', checked_conditions('Cancer'), id: 'conditions_cancer', class: 'form-check-input' %>
            <%= label_tag 'conditions_cancer', 'Cancer', class: 'form-check-label' %>
          </div>
          <div class="form-check form-check-inline">
            <%= check_box_tag 'form[conditions][]', 'Fracture', checked_conditions('Fracture'), id: 'conditions_fracture', class: 'form-check-input' %>
            <%= label_tag 'conditions_fracture', 'Fracture', class: 'form-check-label' %>
          </div>
          <div class="form-check form-check-inline">
            <%= check_box_tag 'form[conditions][]', 'Others', checked_conditions('Others'), id: 'conditions_etc', class: 'form-check-input' %>
            <%= label_tag 'conditions_etc', 'Others', class: 'form-check-label' %>
          </div>
        </fieldset>
      </div>

      <div class="mb-3">
        <%= form.label :conditions_other, 'Other Conditions:' %>
        <%= form.text_field :conditions_other, class: "form-control", id: "conditions_other" %>
      </div>

      <div class="mb-3">
        <%= form.label :medication do %>
          Patient's Medication <span style="color: red;">*</span> 
        <% end %>
        <%= form.text_field :medication, class: "form-control" %>
      </div>

      <div class="mb-3">
        <fieldset>
          <p>Has the Patient been Hospitalised Recently?<span style="color: red;"> *</span></p>
          <div class="form-check form-check-inline">
            <%= form.radio_button :hospital, '1', class: 'form-check-input', id: 'Yes', checked: @form.hospital == true %>
            <%= form.label :hospital_yes, "Yes", class: 'form-check-label' %>
          </div>
          <div class="form-check form-check-inline">
            <%= form.radio_button :hospital, '0', class: 'form-check-input', id: 'No', checked: @form.hospital == false %>
            <%= form.label :hospital_no, "No", class: 'form-check-label' %>
          </div>
        </fieldset>
        <p><i>If yes, please upload the relevant discharge summary (optional)</i></p>
      </div>

      <div class="mb-3">
        <%= form.label :discharge_summary, "Upload Discharge Summary (JPG or PNG)" %>
        <%= form.file_field :discharge_summary, class: "form-control" %>
        <% if @form.discharge_summary.attached? %>
          <div class="mt-1 mb-4"> <!-- Add margin-top for spacing -->
            <p>Discharge Summary Preview:</p>
            <%= image_tag @form.discharge_summary, class: "img-thumbnail", style: "max-width: 300px;" %>
            <!--<%= link_to "Download Discharge Summary", rails_blob_path(@form.discharge_summary, disposition: "attachment") %>--> 
          </div>
        <% end %>
      </div>

      <div class="d-flex justify-content-between mt-4">
        <%= link_to "Back", @form.persisted? ? edit_1_form_path(@form) : edit_1_forms_path, class:"btn btn-lg btn-outline-black rounded-pill" %>
        <div>
          <%= form.submit "Save", name: "commit", value: "Save", class: "btn btn-lg rounded-pill btn-green me-2" %>
          <%= form.submit "Next", class:"btn btn-lg btn-blue rounded-pill" %>
        </div>
      </div>
    <% end %>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
