<!DOCTYPE html>
<html>
<head>
  <title>Ninkatec Onboarding | Mental Assessment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

</head>

<body>
  <div class="container">
    <!-- Steps Bar -->

    <!-- Title -->
    <h1>Mental Assessment</h1>
        
    <!-- Video Upload Section -->
    <%= form_with(model: @form, url: @form.persisted? ? edit_mental_assessment_form_path(@form) : edit_mental_assessment_forms_path, method: :patch, local: true, html: { multipart: true }) do |form| %>
      <div class="row">

        <!-- Step 1: Mental Video -->
        <div class="box-video g-5">

          <%# <h2 style="text-align: center">Mental Video</h2> %>
            <p>Current Mental Video:</p>
            <%= video_tag url_for(@form.mental_video), controls: true, class: "img-thumbnail video-preview rounded-video",width:" 100%", height:"10"  %>
 
      <div class="d-flex justify-content-center mt-5 mb-5">
        <div class="col-8">
          <fieldset>
            <p>Mental Assessment</p>

            <div class="form-check form-check-inline">
              <%= form.radio_button :mental_assessment, "Good", class: "form-check-input", id: "good", checked: @form.mental_assessment == "Good", :required => false %>
              <%= form.label "good", class: "form-check-label", for: "good" do %>
                Good
              <% end %>
            </div>

            <div class="form-check form-check-inline">
              <%= form.radio_button :mental_assessment, "Fair", class: "form-check-input", id: "fair", checked: @form.mental_assessment == "Fair", :required => false %>
              <%= form.label "fair", class: "form-check-label", for: "fair" do %>
                Fair
              <% end %>
            </div>

            <div class="form-check form-check-inline">
              <%= form.radio_button :mental_assessment, "Poor", class: "form-check-input", id: "poor", checked: @form.mental_assessment == "Poor", :required => false %>
              <%= form.label "Poor", class: "form-check-label", for: "poor" do %>
                Poor
              <% end %>
            </div>

            <div class="form-check form-check-inline">
              <%= form.radio_button :mental_assessment, "Detailed Assessment Needed", class: "form-check-input", id: "others", checked: !["Good", "Fair", "Poor", ""].include?(@form.mental_assessment) %>
              <%= form.label "others", class: "form-check-label", for: "others" do %>
                Detailed Assessment Needed:
              <% end %>
            </div>
            <br></br>
            <div class="form-check">
              
              <%= form.text_field :others_text, class: "form-control", id: "others_text", placeholder: "Detailed Assessment here", style: "font-style: italic; height: 175px; width: 300 px;", value: (!["Good", "Fair", "Poor", ""].include?(@form.mental_assessment)) ? @form.mental_assessment : ''%>
              </div>
          </fieldset>
        </div>
      </div>

      <!-- Navigation Buttons -->
      <div class="d-flex justify-content-center mt-5 mb-5">
        <%= link_to "Back", form_path, class: "btn btn-lg btn-outline-black rounded-pill", style: 'float: left; margin-right: 5px;' %>
        <%= form.submit "Save", name: "commit", value: "Save", class: "btn btn-lg rounded-pill btn-green me-2", style: 'float: left; margin-right: 5px;'  %>

      </div>
      
    <% end %>
    <br>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>