<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Form Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <style>
    .video-container {
      max-width: 300px; /* Maximum width for the container */
      margin-bottom: 10px; /* Space between videos */
    }
    .video-container video {
      max-width: 300px;
      max-height: 180px;
      width: 100%;
      height: auto;
    }
    .circular-button {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    .btn-blue {
      background-color: #253255;
      color: white;
    }
    .btn-outline-blue {
      border-color: #253255;
      color: #253255;
    }
    .steps .page {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .step-label {
      margin-top: 0.5rem;
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="steps">
      <div class="page">
        <div class="step">
          <%= button_to '1', @form.persisted? ? edit_1_form_path(@form) : edit_1_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[0] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Patient Details</p>
        </div>
        <div class="step">
          <%= button_to '2', @form.persisted? ? edit_2_form_path(@form) : edit_2_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[1] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Medical Conditions</p>
        </div>
        <div class="step">
          <%= button_to '3', @form.persisted? ? edit_3_form_path(@form) : edit_3_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[2] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Service Required</p>
        </div>
        <div class="step">
          <%= button_to '4', @form.persisted? ? edit_4_form_path(@form) : edit_4_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[3] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Patient Assessment</p>
        </div>
        <div class="step">
          <%= button_to '5', @form.persisted? ? edit_5_form_path(@form) : edit_5_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[4] : "btn btn-primary circular-button btn-outline-blue" %>
          <p class="step-label">Home Assessment</p>
        </div>
        <div class="step">
          <button type="button" class="btn btn-primary circular-button btn-blue" id="btn6" data-action="click->form#validateForm">6</button>
          <p class="step-label">Summary Page</p>
        </div>
      </div>
      <div data-form-target="popup"></div>
    </div>

    <h1 class="text-center mb-4">Form Summary</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="font-size: 1.5em;">Personal Information</h5>
        <p class="card-text"><strong>NOK Full Name:</strong> <%= "#{@form.nok_first_name} #{@form.nok_last_name}" %></p>
        <p class="card-text"><strong>NOK Contact No.:</strong> <%= @form.nok_contact_no %></p>
        <p class="card-text"><strong>NOK Address:</strong> <%= @form.nok_address %></p>
        <p class="card-text"><strong>NOK Email Address:</strong> <%= @form.nok_email %></p>
        <% if !@form.user.present? %>
          <p class="card-text"><strong>Associated User not found</strong></p>
        <% end %>
        <p class="card-text"><strong>First Name:</strong> <%= @form.first_name %></p>
        <p class="card-text"><strong>Last Name:</strong> <%= @form.last_name %></p>
        <p class="card-text"><strong>Gender:</strong> <%= @form.gender %></p>
        <p class="card-text"><strong>Date of Birth:</strong> <%= @form.date_of_birth %></p>
        <p class="card-text"><strong>Address:</strong> <%= @form.address %></p>
        <p class="card-text"><strong>Relationship:</strong> <%= @form.relationship %></p>
        <p class="card-text"><strong>Hobbies:</strong> <%= @form.hobbies %></p>
        <p class="card-text"><strong>Languages Spoken:</strong> <%= @form.languages %></p>
        <p class="card-text"><strong>Other Languages Spoken:</strong> <%= @form.languages_other %></p>
        
        <hr/>

        <h5 class="card-title" style="font-size: 1.5em;">Health Information</h5>
        <p class="card-text"><strong>Height:</strong> <%= @form.height %></p>
        <p class="card-text"><strong>Weight:</strong> <%= @form.weight %></p>
        <p class="card-text"><strong>Conditions:</strong> <%= @form.conditions %></p>
        <p class="card-text"><strong>Other Conditions:</strong> <%= @form.conditions_other %></p>
        <p class="card-text"><strong>Medication:</strong> <%= @form.medication %></p>
        <p class="card-text"><strong>Hospitalised recently:</strong> <%= @form.hospital.nil? ? "" : (@form.hospital ? "Yes" : "No") %></p>
        
        <% if @form.discharge_summary.attached? %>
          <div class="mt-3">
            <p class="card-text"><strong>Discharge Summary Preview:</strong></p>
            <%= image_tag @form.discharge_summary, class: "img-thumbnail", style: "max-width: 300px;" %>
          </div>
        <% end %>
        
        <hr/>

        <h5 class="card-title" style="font-size: 1.5em;">Service Information</h5>
        <p class="card-text"><strong>Services:</strong> <%= @form.services %></p>
        <p class="card-text"><strong>Other Services:</strong> <%= @form.services_other %></p>
        <p class="card-text"><strong>Start Date:</strong> <%= @form.start_date %></p>
        <p class="card-text"><strong>End Date:</strong> <%= @form.end_date %></p>
      </div>
      <!-- Row for Videos -->
      <div class="row mt-3">
        <div class="col-md-4">
          <div class="video-container text-center">
            <p>Physical Video:</p>
            <% if @form.physical_video.attached? %>
              <%= video_tag rails_blob_path(@form.physical_video, disposition: "attachment"), controls: true, class: "img-thumbnail video-preview rounded-video" %>
              <% if @form.submitted %>
                <p class="card-text"><strong>Primary Physical Assessment:</strong> <%= @form.physical_primary_assessment %></p>
                <p class="card-text"><strong>Final Physical Assessment:</strong> <%= @form.physical_assessment %></p>
              <% end %>
            <% else %>
              <p>No physical video attached</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="video-container text-center">
            <p>Mental Video:</p>
            <% if @form.mental_video.attached? %>
              <%= video_tag rails_blob_path(@form.mental_video, disposition: "attachment"), controls: true, class: "img-thumbnail" %>
              <% if @form.submitted %>
                <p class="card-text"><strong>Primary Mental Assessment:</strong> <%= @form.mental_primary_assessment %></p>
                <p class="card-text"><strong>Final Mental Assessment:</strong> <%= @form.mental_assessment %></p>
              <% end %>    
            <% else %>
              <p>No mental video attached</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="video-container text-center">
            <p>Environment Video:</p>
            <% if @form.environment_video.attached? %>
              <%= video_tag rails_blob_path(@form.environment_video, disposition: "attachment"), controls: true, class: "img-thumbnail" %>
              <% if @form.submitted %>
                <p class="card-text"><strong>Primary Environment Assessment:</strong> <%= @form.environment_primary_assessment %></p>
                <p class="card-text"><strong>Final Environment Assessment:</strong> <%= @form.environment_assessment %></p>
              <% end %>
            <% else %>
              <p>No environment video attached</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="d-flex  justify-content-center mt-5 mb-5">
        <%= link_to "Back", edit_5_form_path(@form), class: "btn btn-lg btn-outline-black rounded-pill me-2" %>
        <%= form_tag(update_submission_status_form_path(@form), method: :patch) do %>
          <% if @form.submittable %>
            <% if @form.submitted? %>
              <%= submit_tag 'Update', class: "btn btn-lg rounded-pill btn-green me-2" %>
            <% else %>
              <%= submit_tag 'Submit', class: "btn btn-lg rounded-pill btn-green me-2" %>
            <% end %>
          <% else %>
            <% if @form.submitted? %>
              <%= submit_tag 'Update', class: "btn btn-lg rounded-pill btn-outline-green me-2", disabled: !@form.submittable %>
            <% else %>
              <%= submit_tag 'Submit', class: "btn btn-lg rounded-pill btn-outline-green me-2", disabled: !@form.submittable %>
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to 'Back to List', admin_root_path, class: 'btn btn-lg btn-outline-black rounded-pill' %>
        <% else %>
          <%= link_to 'Back to List', user_root_path, class: 'btn btn-lg btn-outline-black rounded-pill' %>
        <% end %>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/stimulus/dist/stimulus.umd.js"></script>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</body>
</html>
