<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Form Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
    .video-container {
      max-width: 300px; /* Maximum width for the container */
      margin-bottom: 10px; /* Space between videos */
    }
    .video-container video {
      max-width: 300px;
      max-height: 180px;
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="steps">
      <div class="page">
          <%= button_to '1', "/forms/4/edit_1", method: :get, class: "btn btn-primary circular-button btn-outline-blue" %>

          <%= button_to '2', "/forms/4/edit_2", method: :get, class: "btn btn-primary circular-button btn-outline-blue" %>   
         
          <%= button_to '3', "/forms/4/edit_3", method: :get, class: "btn btn-primary circular-button btn-outline-blue" %>
          
          <%= button_to '4', "/forms/4/edit_4", method: :get, class: "btn btn-primary circular-button btn-outline-blue" %>         

          <%= button_to '5', "/forms/4/edit_5", method: :get, class: "btn btn-primary circular-button btn-outline-blue" %>
          <button type="button" class="btn btn-primary circular-button btn-blue">6</button>
        <!-- Steps bar content will go here -->
      </div>
    </div>
    <h1>Form Details</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Personal Information</h5>
        <p class="card-text"><strong>First Name:</strong> <%= @form.first_name %></p>
        <p class="card-text"><strong>Last Name:</strong> <%= @form.last_name %></p>
        <p class="card-text"><strong>Gender:</strong> <%= @form.gender %></p>
        <p class="card-text"><strong>Date of Birth:</strong> <%= @form.date_of_birth %></p>
        <p class="card-text"><strong>Address:</strong> <%= @form.address %></p>
        <p class="card-text"><strong>Relationship:</strong> <%= @form.relationship %></p>
        <p class="card-text"><strong>Hobbies:</strong> <%= @form.hobbies %></p>
        
        <h5 class="card-title">Health Information</h5>
        <p class="card-text"><strong>Height:</strong> <%= @form.height %></p>
        <p class="card-text"><strong>Weight:</strong> <%= @form.weight %></p>
        <p class="card-text"><strong>Conditions:</strong> <%= @form.conditions %></p>
        <p class="card-text"><strong>Medication:</strong> <%= @form.medication %></p>
        <p class="card-text"><strong>Hospitalised recently:</strong> <%= @form.hospital.nil? ? "" : (@form.hospital ? "Yes" : "No") %></p>

        <% if @form.discharge_summary.attached? %>
          <div class="mt-3">
            <p class="card-text"><strong>Discharge Summary Preview:</strong></p>
            <%= image_tag @form.discharge_summary, class: "img-thumbnail", style: "max-width: 300px;" %>
            <!--<%= link_to "Download Discharge Summary", rails_blob_path(@form.discharge_summary, disposition: "attachment") %>-->
          </div>
        <% end %>
        
        <h5 class="card-title">Service Information</h5>
        <p class="card-text"><strong>Services:</strong> <%= @form.services %></p>
        <p class="card-text"><strong>Start Date:</strong> <%= @form.start_date %></p>
        <p class="card-text"><strong>End Date:</strong> <%= @form.end_date %></p>
      </div>
      <!-- Row for Videos -->
      <div class="row mt-3">
        <div class="col-md-6">
          <% if @form.physical_video.attached? %>
            <div class="video-container text-center">
              <p>Physical Video:</p>
              <%= video_tag url_for(@form.physical_video), controls: true, class: "img-thumbnail" %>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <% if @form.mental_video.attached? %>
            <div class="video-container text-center">
              <p>Mental Video:</p>
              <%= video_tag url_for(@form.mental_video), controls: true, class: "img-thumbnail" %>
            </div>
          <% end %>
        </div>
      </div>

          <!-- Environment Video Section -->
      <div class="row mt-3">
        <div class="col-md-6">
          <% if @form.environment_video.attached? %>
            <div class="video-container text-center">
              <p>Environment Video:</p>
              <%= video_tag url_for(@form.environment_video), controls: true, class: "img-thumbnail" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    
    <div class="d-flex justify-content-center mt-5 mb-5">
      <%= link_to "Back", edit_5_form_path(@form), class: "btn btn-lg btn-outline-black rounded-pill", style: 'float: left; margin-right: 5px;' %>
      <%= link_to 'Edit', edit_1_form_path(@form), class: "btn btn-lg btn-blue rounded-pill", style: 'float: left; margin-right: 5px;' %>
      <%= link_to 'Back to List', forms_path, class: 'btn btn-lg btn-outline-black rounded-pill', style: 'float: left; margin-right: 5px;' %>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
