<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Form Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
    .video-container {
      max-width: 300px; /* Maximum width for the container */
      margin-bottom: 10px; /* Space between videos */
    }
    .video-container video {
      max-width: 300px;
      max-height: 180px;
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <% if @form.submittable %>
      <%# <h1 style="text-align: center; background-color: red; color: white;">!!PLZ FIX ERRORS ON PAGES IN RED!!</h1> %>
    <% end %>
    <div class="steps">
      <div data-controller="form">
        <div class = page>
          <%= button_to '1', @form.persisted? ? edit_1_form_path(@form) : edit_1_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[0] : "btn btn-primary circular-button btn-outline-blue" %>

          <%= button_to '2', @form.persisted? ? edit_2_form_path(@form) : edit_2_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[1] : "btn btn-primary circular-button btn-outline-blue" %>

          <%= button_to '3', @form.persisted? ? edit_3_form_path(@form) : edit_3_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[2] : "btn btn-primary circular-button btn-outline-blue" %>

          <%= button_to '4', @form.persisted? ? edit_4_form_path(@form) : edit_4_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[3] : "btn btn-primary circular-button btn-outline-blue" %>

          <%= button_to '5', @form.persisted? ? edit_5_form_path(@form) : edit_5_forms_path, method: :get, class: @form.persisted? ? @valid_button_classes[4] : "btn btn-primary circular-button btn-outline-blue" %>
      
          <button type="button" class="btn btn-primary circular-button btn-blue" id="btn6" data-action="click->form#validateForm">6</button>
        </div>
        <div data-form-target="popup"></div>
      </div>
    </div>

    <h1>Form Details</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Personal Information</h5>
          <p><%= @form.user.email %></p>

          <p class="card-text"><strong>STATUS</strong> <%= application_status(@form) %></p>
          <p class="card-text"><strong>STATUS</strong> <%= @form.pg1_valid.inspect %></p>
          <p class="card-text"><strong>STATUS</strong> <%= @form.pg2_valid.inspect %></p>
          <p class="card-text"><strong>STATUS</strong> <%= @form.pg3_valid.inspect %></p>
          <p class="card-text"><strong>STATUS</strong> <%= @form.pg4_valid.inspect %></p>
          <p class="card-text"><strong>STATUS</strong> <%= @form.pg5_valid.inspect %></p>
          <p class="card-text"><strong>STATUS</strong> <%= @form.submittable %></p>
          <p class="card-text"><strong>STATUS!!</strong> <%= application_status(@form) %></p>

          <p class="card-text"><strong>Last Edit</strong> <%= @form.last_edit %></p>
          <p class="card-text"><strong>Last Viewed</strong> <%= @form.last_viewed %></p>
          <p class="card-text"><strong>Changes?</strong> <%= @form.unseen_changes %></p>


          <p class="card-text"><strong>User ID:</strong> <%= @form.user_id %></p>
          <p class="card-text"><strong>NOK Full Name:</strong> <%= "#{@form.nok_first_name} #{@form.nok_last_name}" %></p>
          <p class="card-text"><strong>NOK Contact No.:</strong> <%= @form.nok_contact_no%></p>
          <p class="card-text"><strong>NOK Address:</strong> <%= @form.nok_address %></p>
          <p class="card-text"><strong>NOK Email Address:</strong> <%= @form.nok_email %></p>
          <% if !@form.user.present? %>
            <p class="card-text"><strong>Associated User not found</strong></p>
          <% end %>

        <p class="card-text"><strong>First Name:</strong> <%= @form.first_name %></p>
        <p class="card-text"><strong>Last Name:</strong> <%= @form.last_name %></p>
        <p class="card-text"><strong>Gender:</strong> <%= @form.gender %></p>
        <p class="card-text"><strong>Date of Birth:</strong> <%= @form.date_of_birth %></p>
        <p class="card-text"><strong>Address:</strong> <%= @form.address %></p>
        <p class="card-text"><strong>Relationship:</strong> <%= @form.relationship %></p>
        <p class="card-text"><strong>Hobbies:</strong> <%= @form.hobbies %></p>
        <p class="card-text"><strong>Languages Spoken:</strong> <%= @form.languages %></p>
        <p class="card-text"><strong>Other Languages Spoken:</strong> <%= @form.languages_other %></p>
        
        <h5 class="card-title">Health Information</h5>
        <p class="card-text"><strong>Height:</strong> <%= @form.height %></p>
        <p class="card-text"><strong>Weight:</strong> <%= @form.weight %></p>
        <p class="card-text"><strong>Conditions:</strong> <%= @form.conditions %></p>
        <p class="card-text"><strong>Other Conditions:</strong> <%= @form.conditions_other %></p>
        <p class="card-text"><strong>Medication:</strong> <%= @form.medication %></p>
        <p class="card-text"><strong>Hospitalised recently:</strong> <%= @form.hospital.nil? ? "" : (@form.hospital ? "Yes" : "No") %></p>

        <p class="card-text"><strong>Weight:</strong> <%= @form.mental_video.class %></p>
        <p class="card-text"><strong>Weight:</strong> <%= @form.physical_video %></p>
        <p class="card-text"><strong>Weight:</strong> <%= @form.environment_video %></p>

        <% if @form.discharge_summary.attached? %>
          <div class="mt-3">
            <p class="card-text"><strong>Discharge Summary Preview:</strong></p>
            <%= image_tag @form.discharge_summary, class: "img-thumbnail", style: "max-width: 300px;" %>
            <!--<%= link_to "Download Discharge Summary", rails_blob_path(@form.discharge_summary, disposition: "attachment") %>-->
          </div>
        <% end %>
        
        <h5 class="card-title">Service Information</h5>
        <p class="card-text"><strong>Services:</strong> <%= @form.services %></p>
        <p class="card-text"><strong>Services Other:</strong> <%= @form.services_other %></p>
        <p class="card-text"><strong>Start Date:</strong> <%= @form.start_date %></p>
        <p class="card-text"><strong>End Date:</strong> <%= @form.end_date %></p>
      </div>
      <!-- Row for Videos -->
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="video-container text-center">
            <p>Physical Video:</p>
            <% if @form.physical_video.attached? %>
              <%= video_tag url_for(@form.physical_video), controls: true, class: "img-thumbnail" %>
              <% if @form.submitted %>
                <p class="card-text"><strong>Primary Physical Assessment:</strong><%= @form.physical_primary_assessment %></p>
                <p class="card-text"><strong>Final Physical Assessment:</strong><%= @form.physical_assessment %></p>
                <% if current_user.admin? %>
                  <%= link_to 'Review Assessment', edit_physical_assessment_form_path(@form), class: 'btn btn-lg btn-outline-black rounded-pill', style: 'float: left; margin-right: 5px;' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="video-container text-center">
            <p>Mental Video:</p>
            <% if @form.mental_video.attached? %>
              <%= video_tag url_for(@form.mental_video), controls: true, class: "img-thumbnail" %>
              <% if @form.submitted %>
                <p class="card-text"><strong>Primary Mental Assessment:</strong><%= @form.mental_primary_assessment %></p>
                <p class="card-text"><strong>Final Mental Assessment:</strong><%= @form.mental_assessment %></p>
                <% if current_user.admin? %>
                  <%= link_to 'Review Assessment', edit_mental_assessment_form_path(@form), class: 'btn btn-lg btn-outline-black rounded-pill', style: 'float: left; margin-right: 5px;' %>
                <% end %>
              <% end %>    
            <% end %>
          </div>
        </div>
      </div>

      <!-- Environment Video Section -->
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="video-container text-center">
            <p>Environment Video:</p>
            <% if @form.environment_video.attached? %>
              <%= video_tag url_for(@form.environment_video), controls: true, class: "img-thumbnail" %>
              <% if @form.submitted %>
                <p class="card-text"><strong>Primary Environment Assessment:</strong><%= @form.environment_primary_assessment %></p>
                <p class="card-text"><strong>Final Environment Assessment:</strong><%= @form.environment_assessment %></p>
                <% if current_user.admin? %>
                  <%= link_to 'Review Assessment', edit_environment_assessment_form_path(@form), class: 'btn btn-lg btn-outline-black rounded-pill', style: 'float: left; margin-right: 5px;' %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

    
    <div class="d-flex justify-content-center mt-5 mb-5">

      <%= link_to "Back", edit_5_form_path(@form), class: "btn btn-lg btn-outline-black rounded-pill", style: 'float: left; margin-right: 5px;' %>
      <%= form_tag(update_submission_status_form_path(@form), method: :patch) do %>
        <% if @form.submittable %>
          <% if @form.submitted? %>
            <%= submit_tag 'Update', class: "btn btn-lg rounded-pill btn-green me-2", style: 'float: left; margin-right: 5px;'%>
          <% else %>
            <%= submit_tag 'Submit', class: "btn btn-lg rounded-pill btn-green me-2", style: 'float: left; margin-right: 5px;'%>
          <% end %>
        <% else %>
          <% if @form.submitted? %>
            <%= submit_tag 'Update', class: "btn btn-lg rounded-pill btn-outline-green me-2", style: 'float: left; margin-right: 5px;', disabled: !@form.submittable %>

          <% else %>
            <%= submit_tag 'Submit', class: "btn btn-lg rounded-pill btn-outline-green me-2", style: 'float: left; margin-right: 5px;', disabled: !@form.submittable %>
          <% end %>
        <% end %>
      <% end %>
      <% if application_status(@form) == 'Meeting Date Pending' && current_user.admin?%>
        <%= link_to 'Update Meeting Date', admin_root_path, class: 'btn btn-lg rounded-pill btn-green me-2', style: 'float: right; margin-right: 5px;' %>
      <% end %>
      <%= link_to "Pending Assessment", client_profile_form_path(status: 'Pending Assessment') %>
      <%= link_to "Meeting Date Pending", client_profile_form_path(status: 'Meeting Date Pending') %>
      <% if current_user.admin? %>
        <%= link_to 'Back to List', admin_root_path, class: 'btn btn-lg btn-outline-black rounded-pill', style: 'float: left; margin-left: 5px;' %>
      <% else %>
        <%= link_to 'Back to List', user_root_path, class: 'btn btn-lg btn-outline-black rounded-pill', style: 'float: left; margin-left: 5px;' %>
      <% end %>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/stimulus/dist/stimulus.umd.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

</body>
</html>
