<style>
  .friend:hover {
    color: blue;
  }

  .friend {
    color: black;
  }
</style>

<div class="simple-calendar">
  <div class="container">
    <div class="calendar-heading mb-4">
      <h3 style="text-align: center; margin: 0 auto; width: 100%;">
        <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time>
      </h3>
      <nav style = "width: 100%;" class = "d-flex justify-content-between px-3 mt-2">
        <%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view, style:'text-decoration: none; font-size: 25px', class: 'friend' %>
        <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, style:'text-decoration: none; font-size: 20px', class: 'friend' %>
        <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view, style:'text-decoration: none; font-size: 25px', class: 'friend' %>
      </nav>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 80px; text-align: center; border: 1px solid grey">Time</th>
          <% date_range.slice(0, 7).each do |day| %> <!-- Adjusted to include dates next to day names -->
            <th style="width: 80px; text-align: center; border: 1px solid grey"><%= t('date.abbr_day_names')[day.wday] %> <%= day.day %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @meeting.hours.each do |hour| %>
          <tr>
            <td style="font-size: 10px; text-align: center; border: 1px solid grey">
              <%= hour %>
            </td>
            <% date_range.slice(0, 7).each do |day| %>
              <td style="width: 150px; text-align: center; border: 1px solid grey">
                <% @meetings.each do |meeting| %>
                  <% if meeting.parsed_start_time == hour && meeting.start_time.to_date == day %>
                    <div class="d-flex justify-content-center">
                      <%= link_to "#{meeting.title} #{meeting.condensed_time}", meeting_path(meeting), class: 'p-3 btn btn-green rounded-3', style: 'width: auto; font-size: 10px;' %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
